page-oh {
    .bg-image{
        background-image: url('../assets/imgs/g1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    /* ion-item {
        background-color: #848484;
    } */
    

}
